footer 
    // Footer Start
    .container-fluid.bg-dark.text-white-50.footer.mt-5.pt-5.wow.fadeIn(data-wow-delay='0.1s')
        .container.py-5
            .row.g-5
                //
                .col-lg-5.col-md-6
                    h1.fw-bold.text-primary.mb-4 Blockchain 
                        span.text-white Korea 
                    p 한국블록체인진흥원은 건강한 블록체인사업,시장 및 기술의 발전을 
                        BR 위해 노력합니다.
                    .d-flex.pt-2
                        a.btn.btn-square.me-1(href='')
                            i.fab.fa-twitter
                        a.btn.btn-square.me-1(href='')
                            i.fab.fa-facebook-f
                        a.btn.btn-square.me-1(href='')
                            i.fab.fa-youtube
                        a.btn.btn-square.me-0(href='')
                            i.fab.fa-linkedin-in
                //
                .col-lg-3.col-md-6
                    h5.text-light.mb-4 Address 
                    p 
                        i.fa.fa-map-marker-alt.me-3
                        | 서울시 강남구 테헤란로 13길 8-10
                    p 
                        i.fa.fa-phone-alt.me-3
                        | +012 345 67890
                    p 
                        i.fa.fa-envelope.me-3
                        | info@blockchainkorea.org
                //
                .col-lg-2.col-md-6
                    h5.text-light.mb-4 Quick Links
                    a.btn.btn-link(href='index.html') 홈  
                    a.btn.btn-link(href='about.html') 협회안내 
                    a.btn.btn-link(href='guide.html') 가입안내 
                    a.btn.btn-link(href='notice.html') 협회소식  
                //
                .col-lg-2.col-md-6
                    h5.text-light.mb-4 Terms & Condition
                    a.btn.btn-link(href='') 개인정보처리방침  
                    a.btn.btn-link(href='') 이용약관  
                
        
        .container-fluid.copyright
            .container 
                .row 
                    .col-md-6.text-center.text-md-start.mb-3.mb-md-0 &copy;
                        a(href='/') blockchainkorea.org 
                        | , All Right Reserved.
                    //.col-md-6.text-center.text-md-end 한국블록체인진흥원 
    // Footer End