extends templates/layout 

block content 
    // Carousel Startd
    div.container-fluid.p-0.mb-5
        div#header-carousel.carousel.slide(data-bs-ride='carousel')
            div.carousel-inner
                div.carousel-item.active
                    img.w-100(src='./assets/img/main-visual-1.jpg', alt='Image')
                    div.carousel-caption
                        div.container
                            div.row.justify-content-center
                                div.col-lg-8.pt-5
                                    h1.display-4.text-white.mb-3.animated.slideInDown 고객의 신뢰를 선도하는 글로벌 No 1. 디지털자산 신용평가사 
                                    p.fs-5.text-white-50.mb-5.animated.slideInDown 투명성과 신뢰를 바탕으로 모든 디지털자산 정보를 연결하여 이를 필요로 하는 모든 사람들이 가치 있는 삷을 살도록 노력합니다. 
                                    a.btn.btn-primary.py-2.px-3.animated.slideInDown(href='about.html') 자세히 보기 
                                        div.d-inline-flex.btn-sm-square.bg-white.text-primary.rounded-circle.ms-2
                                            i.fa.fa-arrow-right


                div.carousel-item
                    img.w-100(src='./assets/img/main-visual-2.jpg', alt='Image')
                    div.carousel-caption
                        div.container
                            div.row.justify-content-center
                                div.col-lg-8.pt-5
                                    h1.display-4.text-white.mb-3.animated.slideInDown 한국블록체인진흥원의 회원사를 모집합니다.
                                    p.fs-5.text-white-50.mb-5.animated.slideInDown 2017년부터 블록체인 업계에서 풍부한 디지털자산 평가 실적과 노하우를 보유하고 있습니다.
                                    a.btn.btn-primary.py-2.px-3.animated.slideInDown(href='guide.html') 자세히 보기
                                        div.d-inline-flex.btn-sm-square.bg-white.text-primary.rounded-circle.ms-2
                                            i.fa.fa-arrow-right


                button.carousel-control-prev(type='button', data-bs-target='#header-carousel', data-bs-slide='prev') 
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.visually-hidden Previous
                button.carousel-control-next(type='button', data-bs-target='#header-carousel', data-bs-slide='next') 
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.visually-hidden Next

    // Carousel End

    // Service Start
    .container-xxl.py-5
        .container
            .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 800px;')
                .d-inline-block.rounded-pill.bg-secondary.text-primary.py-1.px-3.mb-3 What We Do  
                h1.display-6.mb-5 차별화된 경쟁력과 정보를 바탕으로 밝은 블록체인의 미래를 만들어 갑니다.
            .row.g-4.justify-content-center
                // 
                .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
                    .service-item.bg-white.text-center.h-100.p-4.p-xl-5
                        img.img-fluid.mb-4(src='./assets/img/icon-1.png', alt='')
                        h4.mb-3 검증된 신속한 정보 제공 서비스 
                        p.mb-4 심각한 정보의 비대칭성, 검증되지 않는 정보의 홍수 속에서 전문적이고 차별화 된 서비스 제공.

                //
                .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
                    .service-item.bg-white.text-center.h-100.p-4.p-xl-5
                        img.img-fluid.mb-4(src='./assets/img/icon-2.png', alt='')
                        h4.mb-3 신뢰할 수 있는 정보 제공 서비스 
                        p.mb-4 객관적인 평가 보고서 제공, 공평하고 투명한 정보 제공하는 신뢰받는 최고의 디지털자산 평가사.
                
                //
                .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
                    .service-item.bg-white.text-center.h-100.p-4.p-xl-5
                        img.img-fluid.mb-4(src='./assets/img/icon-3.png', alt='')
                        h4.mb-3 디지털자산 신용평가정보 서비스 
                        p.mb-4 디지털자산에 대한 데이터의 검증 및 실시간 정보 공시를 통해 투자자들의 의사결정에 도움을 주는 전문적인 디지털자산 신용평가정보 서비스.

    // Service End

    

    // Notice Start
    .container-fluid.my-5.py-5(data-parallax='scroll', data-image-src='./assets/img/main-notice-bg.jpg')
        .container.py-5
            .row.g-5.align-items-center
                .col-lg-5.wow.fadeIn(data-wow-delay='0.1s')
                    .d-inline-block.rounded-pill.bg-secondary.text-primary.py-1.px-3.mb-3 Notice
                    h1.display-6.text-white.mb-5 한국블록체인진흥원의 공지사항을 알려 드립니다. 
                    .d-flex.justify-content-between.mb-1
                        .text-white-50 한국블록체인진흥원의 공지사항을 알려드립니다.
                        .text-white-50 2022-11-24
                    .text-white-50.mb-1 한국블록체인진흥원의 공지사항을 알려드립니다.
                    .text-white-50.mb-1 한국블록체인진흥원의 공지사항을 알려드립니다.
                .col-lg-7.wow.fadeIn(data-wow-delay='0.5s')
                    .h-100.bg-white.p-5
                        form
                            .row.g-3 
                                .col-12 
                                    h4.mb-3 공지사항을 알려드립니다
                                    p.mb-3 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.
                                        | 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다. 공지사항 내용입니다.
                                    button.btn.btn-primary.px-5(style='height: 60px;')  Read More
                                        .d-inline-flex.btn-sm-square.bg-white.text-primary.rounded-circle.ms-2
                                            i.fa.fa-arrow-right
    // Notice End 

    // Member Start
    .container-xxl.py-5
        .container
            .text-center.mx-auto.mb-5.wow.fadeInUp(data-wow-delay='0.1s', style='max-width: 550px;')
                .d-inline-block.rounded-pill.bg-secondary.text-primary.py-1.px-3.mb-3 Members
                h1.display-6.mb-5 한국블록체인진흥원 주요 회원사
            .row.g-4
                //
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
                    .team-item.position-relative.rounded.overflow-hidden
                        .overflow-hidden
                            img.img-fluid(src='./assets/img/member-logo-1.jpg', alt='')
                        .team-text.bg-light.text-center.p-4
                            h5 그라운드원 
                            p.text-primary 임원사 
                            .team-social.text-center
                                a.btn.btn-square(href='https://www.groundx.xyz', target='_blank') 
                                    i.fas.fa-link
                //
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
                    .team-item.position-relative.rounded.overflow-hidden
                        .overflow-hidden
                            img.img-fluid(src='./assets/img/member-logo-1.jpg', alt='')
                        .team-text.bg-light.text-center.p-4
                            h5 그레이브릿지 
                            p.text-primary 정회원 
                            .team-social.text-center
                                a.btn.btn-square(href='https://www.groundx.xyz', target='_blank') 
                                    i.fas.fa-link
                //
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
                    .team-item.position-relative.rounded.overflow-hidden
                        .overflow-hidden
                            img.img-fluid(src='./assets/img/member-logo-1.jpg', alt='')
                        .team-text.bg-light.text-center.p-4
                            h5 네오플라이 
                            p.text-primary 정회원 
                            .team-social.text-center
                                a.btn.btn-square(href='https://www.groundx.xyz', target='_blank') 
                                    i.fas.fa-link
                //
                .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.7s')
                    .team-item.position-relative.rounded.overflow-hidden
                        .overflow-hidden
                            img.img-fluid(src='./assets/img/member-logo-1.jpg', alt='')
                        .team-text.bg-light.text-center.p-4
                            h5 베리드코리아
                            p.text-primary 정회원 
                            .team-social.text-center
                                a.btn.btn-square(href='https://www.groundx.xyz', target='_blank') 
                                    i.fas.fa-link
                
    // Member End 