extends templates/layout 

block content 
    // Page Header Start
    .container-fluid.page-header.mb-5.wow.fadeIn(data-wow-delay='0.1s')
        .container.text-center
            h1.display-4.text-white.animated.slideInDown.mb-4 협회소식 
    // Page Header End 

    // Notice Start
    .container-xxl.py-5
        .container
            .row.g-4.justify-content-end 
                .col-md-6.col-lg-4
                    .text-right 
                        .input-group.mb-3
                            select.form-select
                                option(selected) 전체
                                option(value='title') 제목
                                option(value='content') 내용
                            input.form-control(type='text', placeholder='')
                            button.btn.btn-primary(type='button') 검색 

            .row.g-4.justify-content-center
                .col-12.wow.fadeIn(data-wow-delay='0.5s')
                    
                    // List
                    table.table.notice
                        thead.table-light
                            tr 
                                th(scope='col') No
                                th(scope='col') 제목 
                                th(scope='col') 작성자 
                                th(scope='col') 작성일 
                        tbody 
                            tr 
                                td.text-primary(scope='row') 중요
                                td 
                                    a(href='notice_read.html') [행사 안내] 2022 블록체인 진흥주간
                                td 사무국
                                td 2022.11.22
                            tr 
                                td(scope='row') 1
                                td 
                                    a(href='notice_read.html') [공지] W3C HTML5 Conference 2022 NEXT WEB, 웹 3.0 - 웹으로 바라보는 웹 3.0
                                td 사무국
                                td 2022.11.29
                            tr 
                                td(scope='row') 2
                                td 
                                    a(href='notice_read.html') [공고] 자격상실 대상 회원사 안내 
                                td 사무국
                                td 2022.11.26
                    
                    // Pagination
                    nav(aria-label='page navigation')
                        ul.pagination.justify-content-center
                            li.page-item 
                                a.page-link(href='#', aria-label='Previous')
                                    span(aira-hidden='true') &laquo;
                                    span.sr-only Previous 
                            li.page-item.active
                                a.page-link(href="#") 1
                            li.page-item 
                                a.page-link(href="#") 2
                            li.page-item 
                                a.page-link(href="#") 3
                            li.page-item 
                                a.page-link(href='#', aria-label='Next')
                                    span(aira-hidden='true') &raquo;
                                    span.sr-only Next  


    // Notice End 