extends templates/layout 

block content 
    // Page Header Start
    .container-fluid.page-header.header-4.mb-5.wow.fadeIn(data-wow-delay='0.1s')
        .container.text-center
            h1.display-4.text-white.animated.slideInDown.mb-4 개인정보취급방침  
    // Page Header End 

    // Privacy Start
    // Notice Start
    .container-xxl.py-5
        .container
            h2 개인정보취급방침
            hr
    // Privacy End