extends templates/layout 

block content 
    // Page Header Start
    .container-fluid.page-header.header-4.mb-5.wow.fadeIn(data-wow-delay='0.1s')
        .container.text-center
            h1.display-4.text-white.animated.slideInDown.mb-4 이용약관  
    // Page Header End 

    // Privacy Start
    // Notice Start
    .container-xxl.py-5
        .container
            h2 이용약관 
            hr
            h4.mb-5 제 1장 총칙

            h5 제 1조 목적 
            p.text-muted.mb-4 이 약관은 한국블록체인진흥원(이하 "진흥원"라 함)가 제공하는 진흥원정보포털 (blockchainkore.org) 서비스(이하 "서비스"라 함)의 이용조건 및 절차에 관한 사항을 규정함을 목적으로 합니다.

            h5 제 2조 (약관의 효력 및 변경)
            p.text-muted (1) 이 약관은 진흥원의 진흥원정보포털 서비스화면으로 이용고객에게 그 내용을 공지함으로써 효력이 발생합니다.
            p.text-muted.mb-4 (2) 진흥원은 필요하다고 인정되는 경우에 이 약관을 개정할 수 있으며, 개정된 내용은 제1항과 같은 방법으로 공지한 때로부터 그 효력을 발생합니다.

            h5 제 3조 (약관적용 외 준칙)
            p.text-muted.mb-4 이 약관에 명시되지 않은 사항이 관계법령에 규정되어 있는 경우에는 그 규정에 따릅니다.

            h5 제 4조 (용어의 정의)
            p.text-muted (1) 이 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.
                br
                span - "서비스"라 함은 진흥원정보포털에서 제공하는 제반서비스(정보제공, 부가서비스 등)를 말합니다.
                br
                span - "회원"이라 함은 진흥원과 서비스 이용계약을 체결하고 회원ID를 부여받은 개인 또는 법인을 말합니다.
                br
                span - "이용계약"이라 함은 서비스 이용을 목적으로 진흥원과 이용자간에 체결하는 계약을 말합니다.
                br
                span - "회원ID"라 함은 회원의 식별과 회원의 서비스이용을 위하여 회원이 선정하고 진흥원이 승인하는 문자와 숫자의 조합을 말합니다.
                br
                span - "회원정보"라 함은 회원이 이용계약을 체결할때 진흥원에 등록하는 회원ID, 이름,성별, 연락처, 이메일 등의 회원에 관한 정보를 말합니다.
                br




    // Privacy End